<header
  class="w-dvw grid grid-cols-[minmax(0,1fr)_auto_minmax(0,1fr)] items-center bg-transparent py-9 px-20"
>
  <figure class="flex justify-start items-center gap-4">
    <img src="logoWhite.svg" alt="LogoPoker" />
    @if (showItems()) {
      <h1 class="text-xl font-semibold">Crear partida</h1>
    }
  </figure>
  @if (showItems()) {
    <h1 class="text-xl font-bold justify-self-center">{{ title() }}</h1>
    <div class="flex justify-end items-center gap-6">
      <app-avatar [name]="playerName()"></app-avatar>
      <app-button variant="tertiary" type="button" (click)="showModal.set(true)"
        >Invitar jugadores</app-button
      >
      <app-modal [(open)]="showModal" [showHeader]="true" >
        <div class="flex flex-col items-center gap-y-8 mt-11">
          <app-input id="shareUrl" name="shareUrl" [(value)]="shareUrl" [disabled]="true" />
          <app-button (click)="copyText()">Copiar link</app-button>
        </div>
      </app-modal>
    </div>
  }
</header>
