<app-main [title]="title()" [playerName]="playerName()">
  <app-modal [(open)]="showModal" [closable]="false">
    <form #myForm="ngForm" (ngSubmit)="createPlayer()" class="flex flex-col">
      <app-input
        label="Tu nombre"
        id="playerName"
        name="playerName"
        [(value)]="playerName"
        [required]="true"
        [minLength]="5"
        [maxLength]="20"
        pattern="^(?=.*[a-zA-Z])(?!(?:.*\d){4})[a-zA-Z0-9]+$"
        error="Solo letras y números, 5-20 caracteres"
      />
      <div class="flex items-center justify-around mt-8 mb-11">
        <app-radio
          label="Jugador"
          id="player"
          name="role"
          [(selected)]="role"
          value="player"
          [required]="true"
        ></app-radio>
        <app-radio
          label="Espectador"
          id="spectator"
          name="role"
          [(selected)]="role"
          value="spectator"
          [required]="true"
        ></app-radio>
      </div>
      <app-button class="self-center" [disabled]="!!myForm.invalid" type="submit"
        >Continuar</app-button
      >
      @if (showMessageFullRoom()) {
        <p class="text-red-500 text-center mt-4 text-sm">La sala está llena. No puedes unirte.</p>
      }
    </form>
  </app-modal>
  <div class="flex flex-col gap-y-12 items-center">
    <app-table
      [players]="players()"
      [meId]="playerId()"
      [roomIdAdmin]="roomIdAdmin()"
      (revealCards)="revealVotes()"
      (resetVotes)="resetVotes()"
      [roomStatus]="roomStatus()"
    ></app-table>
    @if (role() === 'player') {
      <app-choose-card
        (cardSelected)="onVote($event)"
        [roomStatus]="roomStatus()"
      ></app-choose-card>
    }
  </div>
</app-main>
